
### VirtualEnv ###
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json

### learger file ###
# content01
/deep-learning/content01/model/*.h5
/deep-learning/content01/datasets/test/
/deep-learning/content01/datasets/train/
/deep-learning/content01/datasets/validation/

# content02
/deep-learning/content02/data/
/deep-learning/content02/weights/
/deep-learning/content02/vocab/
